body {
    
    background-color: rgb(23, 31, 38);
   
    
}
button{
    background-color: rgb(137,54,57);
    border-radius: 20px;
    border-color: rgb(0, 0, 0, 0);
    
    font-size: 18px;
    color: rgb(23,31,38);
    opacity: 100%;
    display: flex;
    margin: auto;
    
}
button:hover{
    opacity: 30%;
    cursor: pointer;
}

input{
    background-color: white;
    width: 50%;
    margin-left: 25%;
    font-size: 20px;
    opacity: 50%;
    

    margin-top: 10px;
    
    border-radius: 20px;
    border-color: white;
    
    margin-bottom: 20px;

}

textarea{
    margin-left: 17%;
    border-radius: 20px;
    opacity: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
   
}
#display{
    margin-top: 230px;
    z-index: 2;
    position: absolute;
}
#background{
    position: absolute;
    z-index: 1;
    
    
}
