#box {
  display: flex;
  height: 100vh;
}

.fly {
  display: flex;
  z-index: 5;
  margin-left: -400px;
  margin-bottom: -50px;
}

#info2 {
  display: flex;

  margin-left: 200px;
  margin-top: 150px;
  z-index: 4;
  opacity: 90%;
}

#info1 {
  display: flex;

  margin-left: -50px;
  margin-top: 240px;

  z-index: 3;
  opacity: 90%;
}
#title{
  display:flex;
  z-index: 2;
  margin-left:-200px;
  margin-top: 100px;
  height: 6%;
 
}
#full{
  display:flex;
  height:8.5%;
  margin-top: 500px;
  margin-left: -200px;
  z-index: 1;
  opacity:1;
}


@media (min-width: 380px) {
  #box {
    display: flex;
  }
}
